<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kkk.dainyong.tale.repository.GraphRepository">
    <select id="getReports" resultType="kkk.dainyong.tale.model.Reports">
        SELECT
        id,
        count,
        record_count AS recordCount,
        motion_count AS motionCount,
        game_count AS gameCount
        FROM REPORTS
        WHERE profile_id = #{profileId}
    </select>

    <select id="getPreferenceByProfileId" resultType="kkk.dainyong.tale.model.dto.PreferenceDTO">
        SELECT t.content, count
        FROM (SELECT *
        FROM preferences p
        WHERE p.profile_id = #{profileId}
        ORDER BY count DESC
        FETCH FIRST 7 ROWS ONLY)
        JOIN TAGS t ON tag_id=t.id
        ORDER BY TAG_ID ASC
    </select>

    <update id="incrementTotalCount">
        UPDATE REPORTS
        SET COUNT = COUNT + 1
        WHERE PROFILE_ID = #{PROFILE_ID}
    </update>

    <update id="incrementRecordCount">
        UPDATE REPORTS
        SET RECORD_COUNT = RECORD_COUNT + 1
        WHERE PROFILE_ID = #{PROFILE_ID}
    </update>

    <update id="incrementMotionCount">
        UPDATE REPORTS
        SET MOTION_COUNT = MOTION_COUNT + 1
        WHERE PROFILE_ID = #{PROFILE_ID}
    </update>
</mapper>