<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kkk.dainyong.tale.repository.UserRepository">
    <select id="getUserCredit" resultType="int">
        SELECT CREDIT
        FROM KUSERS
        WHERE ID = #{userId}
    </select>

    <update id="updateUserCredit">
        UPDATE KUSERS
        SET CREDIT = #{credit}
        WHERE ID = #{userId}
    </update>
</mapper>
